.content{
  background-color: #E3EAED;
  height: 500px;
  border-radius: 12px;
  margin-left: 10px;
  text-align: center;
  overflow: auto;
}

body{
  font-family: Lato;
  background-color: #11141C;
}

h1, h2, h3{
  font-family: Lobster;
}

.currentuser{
  margin-top: 50px;
  color: #E3EAED;
  text-align: right;
}

a:link{
  text-decoration: none;
  color: #44ABC4;
}

a:visited{
  color: #44ABC4;
}

a:hover{
  text-decoration: underline;
}
