nav{
  text-transform: uppercase;
  font-family: Lato;
  background-color: #44ABC4;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a:link{
  text-decoration: none;
  color: #E3EAED;
}

nav a:visited{
  color: #E3EAED;
}

nav a:hover{
  text-decoration: underline;
}
